<a href="https://colab.research.google.com/github/GLuarte/IAAI/blob/main/Practica1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lab 1 - AI for engineering
#### Javier Pulido & Gonzalo Luarte

##Preparació de dades

In [21]:
import pandas as pd
import numpy as np

In [22]:
# LO SUBI A GITHUB PARA QUE PODAMOS ACCEDER LOS 2
df=pd.read_csv('https://raw.githubusercontent.com/GLuarte/IAAI/main/AIRE_BARCELONA_2018.csv',sep=';')
df

                     nom_cabina qualitat_aire  ... generat.hour  generat.minute
0             Barcelona - Sants          Bona  ...           19               0
1          Barcelona - Eixample          Bona  ...           19               0
2            Barcelona - Gràcia          Bona  ...           19               0
3        Barcelona - Ciutadella          Bona  ...           19               0
4       Barcelona - Vall Hebron          Bona  ...           19               0
...                         ...           ...  ...          ...             ...
32716    Barcelona - Ciutadella            --  ...           23               0
32717   Barcelona - Vall Hebron          Bona  ...           23               0
32718   Barcelona - Palau Reial          Bona  ...           23               0
32719      Barcelona - Poblenou          Bona  ...           23               0
32720  Barcelona - Observ Fabra          Bona  ...           23               0

[32721 rows x 24 columns]

In [23]:
#Es irrelevante tener el "Barcelona" en el nombre de la cabina pues todos los datos son de Barcelona, por lo que se elimina
df.nom_cabina=[item.replace('Barcelona - ','') for item in df.nom_cabina]

In [24]:
df.iloc[405:410, :]

     nom_cabina qualitat_aire  ... generat.hour  generat.minute
405    Poblenou          Bona  ...            9               0
406       Sants          Bona  ...           10               0
407    Eixample          Bona  ...           10               0
408      Gràcia       Regular  ...           10               0
409  Ciutadella          Bona  ...           10               0

[5 rows x 24 columns]

In [25]:
# '--' a NaN
df["qualitat_aire"].replace({'--':np.NaN}, regex=True, inplace=True)

#Se quitan las unidades de los datos de las celdas pues no son necesarios para el análisis y los '--' se pasan a NaN por facilidad en el manejo de la data, pues '--' no genera información relevante
#Para o3
df['hora_o3'].replace({'h':''}, regex=True, inplace=True) #Quitar la unidad de las horas
df['qualitat_o3'].replace({'--':np.NaN}, regex=True, inplace=True) # Pasar '--' a NaN
df["valor_o3"].replace({'µg/m³':'', ' ': '', '--':np.NaN}, regex=True, inplace=True) # Quitar unidades, quitar espacios indeseados, '--' a NaN
df["valor_o3"].replace({'': '0', '--':np.NaN}, regex=True, inplace=True) # No sé si dejar esto
#Para no2
df['hora_no2'].replace({'h':''}, regex=True, inplace=True) 
df['qualitat_no2'].replace({'--':np.NaN}, regex=True, inplace=True)
df["valor_no2"].replace({'µg/m³':'', ' ': '', '--':np.NaN}, regex=True, inplace=True)
#Para pm10
df['hora_pm10'].replace({'h':''}, regex=True, inplace=True)
df['qualitat_pm10'].replace({'--':np.NaN}, regex=True, inplace=True)
df["valor_pm10"].replace({'µg/m³':'', ' ': '', '--':np.NaN}, regex=True, inplace=True)

#df.valor_no2=[item.replace(' µg/m³','') for item in df.valor_no2]

#np.where(df['valor_no2 (µg/m³)'].isnull())

#Falta convertir a int!!!!!

In [26]:
# '--' a NaN
df["qualitat_aire"].replace({'--':np.NaN}, regex=True, inplace=True)

#Se quitan las unidades de los datos de las celdas pues no son necesarios para el análisis y los '--' se pasan a NaN por facilidad en el manejo de la data, pues '--' no genera información relevante
#Para o3
l=["o3","no2","pm10"]
for i in l:
  df['hora_'+i].replace({'h':''}, regex=True, inplace=True) #Quitar la unidad de las horas
  df['qualitat_'+i].replace({'--':np.NaN}, regex=True, inplace=True) # Pasar '--' a NaN
  df["valor_"+i].replace({'µg/m³':'', ' ': '', '--':np.NaN}, regex=True, inplace=True) # Quitar unidades, quitar espacios indeseados, '--' a NaN
  df["valor_"+i].replace({'': '0', '--':np.NaN}, regex=True, inplace=True) # No sé si dejar esto
  df=df.astype({"valor_"+i: 'float'})
  
  #df.valor_no2=[item.replace(' µg/m³','') for item in df.valor_no2]

#np.where(df['valor_no2 (µg/m³)'].isnull())

#Falta convertir a int!!!!!
#Converti a float pq int no soporta los NaN

In [19]:
df=df.astype({'valor_o3': 'float'})

In [27]:
#df.valor_o3=[item.replace(float(item)) for item in df.valor_o3]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32721 entries, 0 to 32720
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   nom_cabina            32721 non-null  object
 1   qualitat_aire         30413 non-null  object
 2   codi_dtes             32721 non-null  object
 3   zqa                   32721 non-null  int64
 4   codi_eoi              32721 non-null  int64
 5   longitud              32721 non-null  int64
 6   latitud               32721 non-null  int64
 7   hora_o3               22851 non-null  object
 8   qualitat_o3           21391 non-null  object
 9   valor_o3              21391 non-null  float64
 10  hora_no2              30882 non-null  object
 11  qualitat_no2          29109 non-null  object
 12  valor_no2             29109 non-null  float64
 13  hora_pm10             18972 non-null  object
 14  qualitat_pm10         18511 non-null  object
 15  valor_pm10            18511 non-null  float64
 16  generat               32721 non-null  object
 17  dateTime              32721 non-null  int64
 18  generat.year          32721 non-null  int64
 19  generat.month         32721 non-null  int64
 20  generat.day-of-month  32721 non-null  int64
 21  generat.day-of-week   32721 non-null  int64
 22  generat.hour          32721 non-null  int64
 23  generat.minute        32721 non-null  int64
dtypes: float64(3), int64(11), object(10)
memory usage: 6.0+ MB

In [28]:
#Se ponen las unidades en los nombres de las columnas
df = df.rename(columns={'valor_o3': 'valor_o3 (µg/m³)', 'valor_no2': 'valor_no2 (µg/m³)', 'valor_pm10': 'valor_pm10 (µg/m³)'})
df.head()

    nom_cabina qualitat_aire  ... generat.hour  generat.minute
0        Sants          Bona  ...           19               0
1     Eixample          Bona  ...           19               0
2       Gràcia          Bona  ...           19               0
3   Ciutadella          Bona  ...           19               0
4  Vall Hebron          Bona  ...           19               0

[5 rows x 24 columns]

In [ ]:
df.iloc[405:410, :]

     nom_cabina qualitat_aire  ... generat.hour  generat.minute
405    Poblenou          Bona  ...            9               0
406       Sants          Bona  ...           10               0
407    Eixample          Bona  ...           10               0
408      Gràcia       Regular  ...           10               0
409  Ciutadella          Bona  ...           10               0

[5 rows x 24 columns]

In [ ]:
df.to_csv('/content/drive/My Drive/AI for engineering/PROYECTOS/Lab1/prueba2.csv')

In [29]:
df.to_csv('https://github.com/GLuarte/IAAI/prueba2.csv')

HTTPError: ignored

In [ ]:
# Logré hacer los cambios sin esto, no lo borro aún por si acaso
#df.valor_no2=[item.replace(' µg/m³','') for item in df.valor_no2]
#df.valor_o3=[item.replace(item,int(item)) for item in df.valor_o3]
#df.valor_pm10=[item.replace(' µg/m³','') for item in df.valor_pm10]
#df['valor_o3 (µg/m³)'].replace({df['valor_o3 (µg/m³)'].item: float(df['valor_o3 (µg/m³)'].item)}, inplace=True)

##Exploració de dades

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32721 entries, 0 to 32720
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   nom_cabina            32721 non-null  object
 1   qualitat_aire         30413 non-null  object
 2   codi_dtes             32721 non-null  object
 3   zqa                   32721 non-null  int64
 4   codi_eoi              32721 non-null  int64
 5   longitud              32721 non-null  int64
 6   latitud               32721 non-null  int64
 7   hora_o3               22851 non-null  object
 8   qualitat_o3           21391 non-null  object
 9   valor_o3 (µg/m³)      21391 non-null  object
 10  hora_no2              30882 non-null  object
 11  qualitat_no2          29109 non-null  object
 12  valor_no2 (µg/m³)     29109 non-null  object
 13  hora_pm10             18972 non-null  object
 14  qualitat_pm10         18511 non-null  object
 15  valor_pm10 (µg/m³)    18511 non-null  object
 16  generat               32721 non-null  object
 17  dateTime              32721 non-null  int64
 18  generat.year          32721 non-null  int64
 19  generat.month         32721 non-null  int64
 20  generat.day-of-month  32721 non-null  int64
 21  generat.day-of-week   32721 non-null  int64
 22  generat.hour          32721 non-null  int64
 23  generat.minute        32721 non-null  int64
dtypes: int64(11), object(13)
memory usage: 6.0+ MB

In [ ]:
df.describe()

           zqa      codi_eoi  ...  generat.hour  generat.minute
count  32721.0  3.272100e+04  ...  32721.000000         32721.0
mean       1.0  8.019044e+06  ...     11.622475             0.0
std        0.0  1.623809e+01  ...      6.910711             0.0
min        1.0  8.019004e+06  ...      0.000000             0.0
25%        1.0  8.019042e+06  ...      6.000000             0.0
50%        1.0  8.019044e+06  ...     12.000000             0.0
75%        1.0  8.019054e+06  ...     18.000000             0.0
max        1.0  8.019058e+06  ...     23.000000             0.0

[8 rows x 11 columns]

In [ ]:
df.loc[(df['qualitat']=='23h')&(df['nom_cabina']=='Gràcia')].head(30)

KeyError: ignored

In [ ]:
df.isnull().sum()
# Creo que nom_cabina, codi_dtes y codi_eoi corresponden a lo mismo
# Eliminar zqa (Solo tiene valor 1)
#

In [ ]:
df.describe()

In [ ]:
df['qualitat_aire'].value_counts()

In [ ]:
df['nom_cabina'].value_counts()

In [ ]:
df['codi_eoi'].value_counts()

In [ ]:
df = df.drop(df[(df['qualitat_o3'].isnull()) & (df['qualitat_no2'].isnull()) & (df['qualitat_pm10'].isnull())].index)
df.describe()

In [ ]:
df.loc[(df['qualitat_o3'].isnull()) & (df['qualitat_no2'].isnull())]

In [ ]:
df.loc[(df['qualitat_pm10'].isnull()) & (df['qualitat_no2'].isnull())]

In [ ]:
dfprueba = df.loc[(df['qualitat_o3'].isnull()) & (df['qualitat_pm10'].isnull())]
dfprueba['nom']

In [ ]:
df=df.drop('zqa',axis=1)

##Noves transformacions

##Reducció de dimensionalitat

##Càrrega de dades i visió general

##Anàlisi de components principals (PCA)

##Decidir i en el seu cas comparar amb d’altres tècniques de reducció de dimensionalitat